
 .menu-btn{
     position: absolute;
     right: -35px; top: 10px;
     width: 30px;
     height: 30px;
     background-color: #2ecc71;
     opacity: 0.3;
 }

 .menu-btn:hover{
    opacity: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
 }

 a {
    
    text-align: center;
    color: black;
    font-family:Tahoma, sans-serif;
    text-decoration: none;
 }

 .menu-list{
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    flex-direction: column;
 }

 .wraper {
     position: relative;
     overflow-x: hidden;
 }

 .menu{
     z-index: 99;
     background-color: #ecf0f1;
     height: 100vh;
     width: 300px;
     position: fixed;
     left: 0; top: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s;
     transform: translateX(-100%);
   }

 .menu_active {
     transform: translateX(0%);
   }
 .content {
     z-index: 0;
     margin:20px;
     position: relative ;
     transition: 0.5s;
 }

 .content_active {
     transform: translateX(300px);
 }

   .article {
    padding: 20px;
    margin: 20px;
    width: 60%;
    height: 50px;
    background-color: #2ecc71;
   }

   .article:hover{
    background-color: #35e47e
   }

   .menu-list-item {
       text-align: center;
       height: 100px;
       width: 100%;
       background-color: #c3c9ca;
   }

   .menu-list-item:hover{
       background-color: #d0d7d8
   }

   header {
       top: 0;
       position: absolute;
       width: 100%;
       height: 100px;
       text-align: center;
       background-color: #636363;
   }
#name {
    color: white;
}